<!-- // views/emailTemplates/welcomeEmail/html.ejs -->
<p>Dear <%=firstname%>,</p>
<br/>
<p>Thank you for SignUp.</p>
<div>
    Thank you for signup , we hope to Provide you with a service you love
    <img src="http://res.cloudinary.com/troggeurban/image/upload/v1519389764/cd-logo_h5d7wq.svg" alt="logo">
</div>