<!-- // views/emailTemplates/welcomeEmail/html.ejs -->
<p>Dear <%=firstname%>,</p>
<br/>
<p>Thank you for SignUp.</p>
<div>
    Congratulations! You are one step closer to meeting your personal beauty team. You can book an appointment through our app or website (www.beGlammed.com) or by emailing us at appointment@beglammed.com.  

    To see a full list of our locations and services, please visit our website. If you have any questions, don’t hesitate to call at 310-362-6190.
    
    Don’t forget to follow us on social media to stay updated with the latest beGlammed news, promotions, blog posts, and events! 
    
    Instagram @truebeauty
    Twitter @truebeauty
    Facebook www.facebook.com/truebeauty
    Blog www.truebeauty.com/blog/
    
    Now that you have registered, there’s nothing holding you back from getting pampered on demand. You, too, can beGlammed.
    
    XO,
    
    beGlammed
    
    
    This email was sent to you because you are a customer of truebeauty LLC
</div>